<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{- $currentPage := . }}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        {{- range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link
                        {{- if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main" .) }}
            active{{end}}" {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            aria-current="page" {{end}} href="{{ .URL }}" title="{{ .Title }}">{{ .Identifier }}</a>
        </li>
        {{- end }}

      </ul>
    </div>
  </div>
</nav>
